.title-loading {
  width: 50% !important;
  height: 32px !important;
  margin-block-end: 0;
}
.user {
  width: 100%;
  div[class='ant-space-item']:last-child {
    width: 100%;
  }
  .username-loading {
    height: 20px !important;
    margin-block-end: 0;
  }
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
