.user-info-layout {
  display: flex;
  align-items: flex-start;
  .user-info {
    width: calc(100% - 128px);
    padding-inline-start: 24px;
  }
}
.user-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px 32px;
}
