.card-item {
  margin-block-end: 12px;
  .userinfo {
    display: flex;
    align-items: center;
  }
  a[class*='ant-typography']:hover {
    h5[class*='ant-typography'] {
      color: inherit !important;
    }
  }
  .card-actions {
    display: flex;
  }
  .flex-grow {
    flex-grow: 1;
  }
}
.load-more {
  margin-block-start: 32px;
  text-align: center;
}
.empty {
  padding-block-start: 50px;
}
