.loading-item,
.list-card {
  margin-block-end: 12px;
}
.list-card {
  user-select: none;
  .list-item {
    padding: 0;
    ul[class='ant-list-item-action'] {
      text-align: right;
    }
  }
  .avatar {
    border: none;
  }
  .username {
    font-size: 16px;
    line-height: 1.5;
  }
}
.load-more {
  margin-block-start: 32px;
  text-align: center;
}
.empty-post-list {
  padding-block-start: 50px;
}
