.draft-box {
  margin-block-end: 24px !important;
  text-align: right;
}
.draft-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .draft-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .draft-footer {
    margin-block-start: 8px;
    text-align: center;
  }
}
