.card {
  [class='ant-card-body'] {
    padding-block: 0;
  }
  [class*='ant-list-item'] {
    display: block;
    padding-block: 24px;
  }
  .card-header {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    align-items: center;
  }
  .card-link {
    color: inherit;
    h5[class*='ant-typography'] {
      color: inherit;
    }
  }
}
.load-more {
  text-align: center;
  margin-block: 32px 24px;
  padding: 0 !important;
}
.empty {
  padding-block: 24px;
}
