.card-item {
  margin-block-end: 12px;
  .card-header {
    display: flex;
    align-items: center;
  }
  .card-link {
    color: inherit;
    h5[class*='ant-typography'] {
      color: inherit;
    }
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    .tag-list {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      [class*='ant-tag'] {
        margin-inline-end: 0;
      }
    }
  }
}
.load-more-button {
  margin-block-start: 32px;
  text-align: center;
}
